<!DOCTYPE html>
<html th:fragment="layout (title, content)">
<head>
  <meta charset="utf-8">
  <th:block th:replace="${title}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.cdnfonts.com/css/heavy-metal-blight" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1></h1>
  <main>
  <nav>
    <a href="/">Home</a>
    <a href="/simulations">Saved Simulations</a>
    <a href="/units">Saved Units</a>
    <a onclick="ChangeBackground();">Change Background</a>
    <script type="text/javascript"> 
      var totalCount = 20;
      function ChangeBackground() 
      {
        const images = [
        "url('1.jpg')",
        "url('2.jpg')",
        "url('3.jpg')",
        "url('4.jpg')",
        "url('5.jpg')",
        "url('6.jpg')",
        "url('7.jpg')",
        "url('8.jpg')",
        "url('9.jpg')",
        "url('10.jpg')",
        "url('11.jpg')",
        "url('12.jpg')",
        "url('13.jpg')",
        "url('14.jpg')",
        "url('15.jpg')",
        "url('16.jpg')",
        "url('17.jpg')",
        "url('18.jpg')",
        "url('19.jpg')",
        "url('20.jpg')",
        ]
        var num = Math.ceil( Math.random() * totalCount );
        console.log(num);
        const section = document.querySelector('body')
        section.style.backgroundImage = images[num-1];
      }
      </script>
  </nav>
  <th:block th:replace="${content}"/>
  </main>
  <footer>
    <p><a th:href="'/share-session/' + ${userId}">
      Link to share this session
    </a>
    <a href="/clear-session">Clear session</a></p>
  </footer>

</body>
</html>
