<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section})}">
  <head>
    <title>40kBattleSim</title>
  </head>
  <body><section th:remove="tag">
    <div class="container">
    <form id="general-form" method="post" action="/new-weapon">
      <h2>Create Weapon</h2>
      <p>
        <div class="labels"><label>Name:
        <div class="input-tab">
        <input class="input-field" name="name" type="text" required>
        </div>
      </label></div>
      </p>
      <p>
        <div class="labels"><label>
        Number:
        <div class="input-tab">
        <input class="input-field" name="number" type="number" min="1" required>
      </div>
      </label></div>
      </p>
      <p>
        <div class="labels"><label>
        Type:
        <div class="input-tab"><select class="input-option" name="type" required>
          <option value=""></option>
          <option value="melee">Melee</option>
          <option value="ranged">Ranged</option>
        </select></div>
      </label></div>
      </p>
      <p>
        <div class="labels"><label>
        Attacks (A):
        <div class="input-tab">
        <input class="input-field" name="attacks" type="number" min="1" required>
        </div>
      </label></div>
    </p>
      <p><div class="labels"><label>
        Strength (S):
        <div class="input-tab">
        <input class="input-field" name="strength" type="number" min="1" required>
        </div>
      </label></div>
      </p>
      <p><div class="labels"><label>
        Armor Penetration (AP):
        <div class="input-tab">
        <select class="input-option" name="armor-pen" required>
          <option value=""></option>
          <option value="0">0</option>
          <option value="-1">-1</option>
          <option value="-2">-2</option>
          <option value="-3">-3</option>
          <option value="-4">-4</option>
          <option value="-5">-5</option>
          <option value="-6">-6</option>
        </select></div>
      </label></div>
      </p>
      <p><div class="labels"><label>
        Damage (D):
        <div class="input-tab">
        <input class="input-field" name="damage" type="number" min="1" required>
        </div>
        </label></div>
      </p>
      <p><div class="labels"><label>
        Exploding Hits:
        <input class="input-check" name="exploding-hits" type="checkbox">
      </label></div>
      </p>
      <p><div class="labels"><label>
        Mortal Wounds on 6's to Hit:
        <input class="input-check" name="mw-6-hit" type="checkbox">
      </label></div>
      </p>
      <p><div class="labels"><label>
        Mortal Wounds on 6's to Wound:
        <input class="input-check" name="mw-6-wound" type="checkbox">
        </label></div>
      </p>
      <p><div class="labels"><label>
        Additional AP on 6's to Wound:
        <input class="input-check" name="aap-6-wound" type="checkbox">
        </label></div>
      </p>
      <p><input type="submit" value="Add Weapon"></p>
      <p><button class="button submission-button" type="submit">Add Weapon</button></p>
    </form>
    
    <form id="general-form" method="post" action="/new-attacker">
      <h2>Create Attacker</h2>
      <p><label>
        Name:
        <input name="name" type="text" required>
      </label></p>
      <p><label>
        Ballistic Skill (BS):
        <select name="bal-skill" required>
          <option value=""></option>
          <option value="2">2+</option>
          <option value="3">3+</option>
          <option value="4">4+</option>
          <option value="5">5+</option>
          <option value="6">6+</option>
        </select>
      </label></p>
      <p><label>
        Weapon Skill (WS):
        <select name="wep-skill" required>
          <option value=""></option>
          <option value="2">2+</option>
          <option value="3">3+</option>
          <option value="4">4+</option>
          <option value="5">5+</option>
          <option value="6">6+</option>
        </select>
      </label></p>
      <p><label>
        Weapon #1:
        <select name="weapon-1" required>
          <option value=""></option>
          <option value="weapon-0000">Damascus Longsword</option>
          <option value="weapon-0001">The Slayinator</option>
          <option value="weapon-0002">Combination Laser Minigun and Chainsaw Launcher</option>
        </select>
      </label></p>
      <p><label>
        Weapon #2:
        <select name="weapon-2">
          <option value=""></option>
          <option value="weapon-0000">Damascus Longsword</option>
          <option value="weapon-0001">The Slayinator</option>
          <option value="weapon-0002">Combination Laser Minigun and Chainsaw Launcher</option>
        </select>
      </label></p>
      <p><label>
        Weapon #3:
        <select name="weapon-3">
          <option value=""></option>
          <option value="weapon-0000">Damascus Longsword</option>
          <option value="weapon-0001">The Slayinator</option>
          <option value="weapon-0002">Combination Laser Minigun and Chainsaw Launcher</option>
        </select>
      </label></p>
      <p><label>
        +1 to Hit:
        <input name="plus-1-hit" type="checkbox">
      </label></p>
      <p><label>
        &minus;1 to Hit:
        <input name="minus-1-hit" type="checkbox">
      </label></p>
      <p><label>
        +1 to Wound:
        <input name="plus-1-wound" type="checkbox">
      </label></p>
      <p><label>
        &minus;1 to Wound:
        <input name="minus-1-wound" type="checkbox">
      </label></p>
      <p><label>
        Re-roll Hits:
        <input name="reroll-hits" type="checkbox">
      </label></p>
      <p><label>
        Re-roll Hit Rolls of 1:
        <input name="reroll-hit-1s" type="checkbox">
      </label></p>
      <p><label>
        Re-roll Wounds:
        <input name="reroll-wounds" type="checkbox">
      </label></p>
      <p><label>
        Re-roll Wound Rolls of 1:
        <input name="reroll-wound-1s" type="checkbox">
      </label></p>
      <p><input type="submit" value="Add Attacker"></p>
    </form>
    
    <form id="general-form" method="post" action="/new-defender">
      <h2>Create Defender</h2>
      <p><label>
        Name:
        <input name="name" type="text" required>
      </label></p>
      <p><label>
        Size:
        <input name="size" type="number" min="1" required>
      </label></p>
      <p><label>
        Toughness (T):
        <input name="toughness" type="number" min="1" required>
      </label></p>
      <p><label>
        Save (SV):
        <select name="save" required>
          <option value=""></option>
          <option value="2">2+</option>
          <option value="3">3+</option>
          <option value="4">4+</option>
          <option value="5">5+</option>
          <option value="6">6+</option>
          <option value="7">7+</option>
        </select>
      </label></p>
      <p><label>
        Wounds (W):
        <input name="wounds" type="number" required>
      </label></p>
      <p><label>
        Feel No Pain:
        <select name="fnp" required>
          <option value="0" selected>NA</option>
          <option value="3">3+</option>
          <option value="4">4+</option>
          <option value="5">5+</option>
          <option value="6">6+</option>
        </select>
      </label></p>
      <p><label>
        +1 to Save:
        <input name="plus-1-save" type="checkbox">
      </label></p>
      <p><label>
        &minus;1 to Save:
        <input name="minus-1-save" type="checkbox">
      </label></p>
      <p><label>
        Invulnerable Save:
        <input name="invul-save" type="checkbox">
      </label></p>
      <p><label>
        Re-roll Saves:
        <input name="reroll-saves" type="checkbox">
      </label></p>
      <p><label>
        Re-roll Saves of 1:
        <input name="reroll-saves-1" type="checkbox">
      </label></p>
      <p><label>
        &minus;1 to Damage:
        <input name="minus-1-damage" type="checkbox">
      </label></p>
      <p><input type="submit" value="Add Defender"></p>
    </form>
    
    <form id="general-form" method="post" action="/new-simulation">
      <h2>Simulate Attack</h2>
      <p><label>
        Attacker:
        <select name="attacker" required>
          <option value=""></option>
          <option value="atacker-0000">Warriarch Hammmerius</option>
          <option value="atacker-0001">Stabbystab, the Attackist</option>
        </select>
      </label></p>
      <p><label>
        Defender:
        <select name="defender" required>
          <option value=""></option>
          <option value="defender-0000">Invictus the Unpuncturable</option>
          <option value="defender-0001">Shield Guy</option>
        </select>
      </label></p>
      <p><input type="submit" value="Simulate"></p>
    </form>
    <button onclick="ChangeBackground();">Change Background</button>
    <script type="text/javascript"> 
      var totalCount = 10;
      function ChangeBackground() 
      {
        const images = [
        "url('1.jpg')",
        "url('2.jpg')",
        "url('3.jpg')",
        "url('4.jpg')",
        "url('5.jpg')",
        "url('6.jpg')",
        "url('7.jpg')",
        "url('8.jpg')",
        "url('9.jpg')",
        "url('10.jpg')",
        ]
        var num = Math.ceil( Math.random() * totalCount );
        console.log(num);
        const section = document.querySelector('body')
        section.style.backgroundImage = images[num-1];
      }
      </script>
  </div>
  </section></body>
</html>
