<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section})}">
  <head>
    <title>40kBattleSim</title>
  </head>
  <body><section th:remove="tag">


<form method="get" action="/simulation">
  <h2>Simulate Attack</h2>

  <h3>Attacker Information</h3>
  <p><label>
    Ballistic Skill:
    <input name="atk-bal-skill" type="number" min="0" max="10" required>
  </label></p>
  <p><label>
    Weapon Skill:
    <input name="atk-wep-skill" type="number" min="0" max="10" required>
  </label></p>

  <h3>Weapon Information</h3>
  <p><label>
    Number:
    <input name="wep-number" type="number" min="1" required>
  </label></p>
  <p><label>
    Type:
    <select name="wep-type" required>
      <option value=""></option>
      <option value="melee">Melee</option>
      <option value="ranged">Ranged</option>
    </select>
  </label></p>
  <p><label>
    Attacks:
    <input name="wep-attacks" type="number" min="1" required>
  </label></p>
  <p><label>
    Strength:
    <input name="wep-strength" type="number" min="1" required>
  </label></p>
  <p><label>
    Armor Penetration:
    <input name="wep-armor-pen" type="number" min="-6" max="0" required>
  </label></p>
  <p><label>
    Damage:
    <input name="wep-damage" type="number" min="0" required>
  </label></p>

  <h3>Defender Information</h3>
  <p><label>
    Size:
    <input name="def-size" type="number" min="1" required>
  </label></p>
  <p><label>
    Toughness:
    <input name="def-toughness" type="number" min="1" required>
  </label></p>
  <p><label>
    Save:
    <select name="def-save" required>
      <option value=""></option>
      <option value="2">2+</option>
      <option value="3">3+</option>
      <option value="4">4+</option>
      <option value="5">5+</option>
      <option value="6">6+</option>
      <option value="7">7+</option>
    </select>
  </label></p>
  <p><label>
    Wounds:
    <input name="def-wounds" type="number" min="0" max="10" required>
  </label></p>
  <p><label>
    Feel No Pain:
    <select name="def-fnp" required>
      <option value="0" selected>NA</option>
      <option value="3">3+</option>
      <option value="4">4+</option>
      <option value="5">5+</option>
      <option value="6">6+</option>
    </select>
  </label></p>
  <p><label>
    Invulnerability Save:
    <input name="def-invul-save" type="checkbox">
  </label></p>

  <p><input type="submit" value="Simulate"></p>
</form>


  </section></body>
</html>
