<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section})}">
  <head>
    <title>40kBattleSim</title>
  </head>
  <body><section th:remove="tag">
    <div class="container">
      
<div class="form-container">
<form id="general-form" method="post" action="/submit/new-attacker">
  <h2>Create Attacker</h2>
  <p><div class="labels"><label>
    Name:
    <div class="input-tab"><input class="input-field" name="name" type="text" required></div>
  </label></div></p>
  <p><div class="labels"><label>
    Ballistic Skill (BS):
    <select class="input-option" name="bal-skill" required>
      <option value=""></option>
      <option value="6">6+</option>
      <option value="5">5+</option>
      <option value="4">4+</option>
      <option value="3">3+</option>
      <option value="2">2+</option>
    </select>
  </label></div></p>
  <p><div class="labels"><label>
    Weapon Skill (WS):
    <select class="input-option" name="wep-skill" required>
      <option value=""></option>
      <option value="6">6+</option>
      <option value="5">5+</option>
      <option value="4">4+</option>
      <option value="3">3+</option>
      <option value="2">2+</option>
    </select>
  </label></div></p>
  <p><div class="labels"><button class="button submission-button" type="submit">Add Attacker</button></div></p>
</form>
</div>

<div class="form-container">
<form id="general-form" method="post" action="/submit/new-weapon">
  <h2>Create Weapon</h2>
  <p><div class="labels"><label>
    Name:
    <div class="input-tab"><input class="input-field" name="name" type="text" required></div>
  </label></div></p>
  <p><div class="labels"><label>
    Number:
    <div class="input-tab"><input class="input-field" name="num" type="number" min="1" required></div>
  </label></div></p>
  <p><div class="labels"><label>
    Type:
    <select class="input-option" name="type" required>
      <option value=""></option>
      <option value="melee">Melee</option>
      <option value="ranged">Ranged</option>
    </select>
  </label></div></p>
  <p><div class="labels"><label>
    Attacks (A):
    <div class="input-tab"><input class="input-field" name="attacks" type="number" min="1" required></div>
  </label></div></p>
  <p><div class="labels"><label>
    Strength (S):
    <div class="input-tab"><input class="input-field" name="strength" type="number" min="1" required></div>
  </label></div></p>
  <p><div class="labels"><label>
    Armor Penetration (AP):
    <div class="input-tab"><input class="input-field" name="armor-pen" type="number" max="0" required></div>
  </label></div></p>
  <p><div class="labels"><label>
    Damage (D):
    <div class="input-tab"><input class="input-field" name="damage" type="number" min="1" required></div>
  </label></div></p>
  <p><div class="labels"><button class="button submission-button" type="submit">Add Weapon</button></div></p>
</form>
</div>

<div class="form-container">
<form id="general-form" method="post" action="/submit/new-defender">
  <h2>Create Defender</h2>
  <p><div class="labels"><label>
    Name:
    <div class="input-tab"><input class="input-field" name="name" type="text" required></div>
  </label></div></p>
  <p><div class="labels"><label>
    Size:
    <div class="input-tab"><input class="input-field" name="size" type="number" min="1" required></div>
  </label></div></p>
  <p><div class="labels"><label>
    Toughness (T):
    <div class="input-tab"><input class="input-field" name="toughness" type="number" min="1" required></div>
  </label></div></p>
  <p><div class="labels"><label>
    Save (SV):
    <select class="input-option" name="save" required>
      <option value=""></option>
      <option value="7">7+</option>
      <option value="6">6+</option>
      <option value="5">5+</option>
      <option value="4">4+</option>
      <option value="3">3+</option>
      <option value="2">2+</option>
    </select>
  </label></div></p>
  <p><div class="labels"><label>
    Wounds (W):
    <div class="input-tab"><input class="input-field" name="wounds" type="number" min="1" required></div>
  </label></div></p>
  <p><div class="labels"><label>
    Feel No Pain:
    <select class="input-option" name="feel-no-pain" required>
      <option value="7" selected>NA</option>
      <option value="6">6+</option>
      <option value="5">5+</option>
      <option value="4">4+</option>
      <option value="3">3+</option>
    </select>
  </label></div></p>
  <p><div class="labels"><button class="button submission-button" type="submit">Add Defender</button></div></p>
</form>
</div>

<div class="form-container">
<form id="general-form" method="post" action="/submit/new-simulation">
  <h2>Simulate Attack</h2>
  <p><div class="labels"><label>
    Attacker:
    <select class="input-option" name="attacker" required>
      <option value=""></option>
      <th:block th:each="entry : ${attackers}"
                th:with="unit=${entry.unitType}">
        <option th:value="${entry.pk}" th:text="${unit.name}"/>
      </th:block>
    </select>
  </label></div></p>
  <p><div class="labels"><label>
    Weapon:
    <select class="input-option" name="weapon" required>
      <option value=""></option>
      <th:block th:each="entry : ${weapons}"
                th:with="unit=${entry.unitType}">
        <option th:value="${entry.pk}" th:text="${unit.name}"/>
      </th:block>
    </select>
  </label></div></p>
  <p><div class="labels"><label>
    Defender:
    <select class="input-option" name="defender" required>
      <option value=""></option>
      <th:block th:each="entry : ${defenders}"
                th:with="unit=${entry.unitType}">
        <option th:value="${entry.pk}" th:text="${unit.name}"/>
      </th:block>
    </select>
  </label></div></p>
  <h3>Attacker Modifiers</h3>
  <p><div class="labels"><label>
    +1 to Hit:
    <input name="hit-plus-1" type="checkbox">
  </label></div></p>
  <p><div class="labels"><label>
    &minus;1 to Hit:
    <input name="hit-minus-1" type="checkbox">
  </label></div></p>
  <p><div class="labels"><label>
    Re-roll Hits:
    <input name="reroll-hits" type="checkbox">
  </label></div></p>
  <p><div class="labels"><label>
    Re-roll Hit Rolls of 1:
    <input name="reroll-hits-1" type="checkbox">
  </label></div></p>
  <p><div class="labels"><label>
    Re-roll Wounds:
    <input name="reroll-wounds" type="checkbox">
  </label></div></p>
  <h3>Weapon Modifiers</h3>
  <p><div class="labels"><label>
    Exploding Hits:
    <input name="exploding-hits" type="checkbox">
  </label></div></p>
  <p><div class="labels"><label>
    Mortal Wounds on 6's to Hit:
    <input name="mortal-wound-hits" type="checkbox">
  </label></div></p>
  <p><div class="labels"><label>
    Mortal Wounds on 6's to Wound:
    <input name="mortal-wound-wounds" type="checkbox">
  </label></div></p>
  <p><div class="labels"><label>
    Additional AP on 6’s to wound:
    <input name="extra-ap-wound" type="checkbox">
  </label></div></p>
  <h3>Defender Modifiers</h3>
  <p><div class="labels"><label>
    +1 to Save:
    <input name="save-plus-1" type="checkbox">
  </label></div></p>
  <p><div class="labels"><label>
    &minus;1 to Save:
    <input name="save-minus-1" type="checkbox">
  </label></div></p>
  <p><div class="labels"><label>
    Invulnerable Save:
    <input name="invul-save" type="checkbox">
  </label></div></p>
  <p><div class="labels"><label>
    Re-roll Saves:
    <input name="reroll-save" type="checkbox">
  </label></div></p>
  <p><div class="labels"><label>
    Re-roll Saves of 1:
    <input name="reroll-save-1" type="checkbox">
  </label></div></p>
  <p><div class="labels"><label>
    &minus;1 to Damage:
    <input name="damage-minus-1" type="checkbox">
  </label></div></p>
  <p><div class="labels"><button class="button submission-button" type="submit">Simulate</button></div></p>
</form>
</div>

</div>
  </section></body>
</html>
