<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section})}">
  <head>
    <title>Simulation Results - 40kBattleSim</title>
  </head>
  <body><section th:remove="tag">


<p><a href="/">Home</a></p>

<pre>
<span th:text="'atkBalSkill: ' + ${atkBalSkill}"/>
<span th:text="'atkWepSkill: ' + ${atkWepSkill}"/>
<span th:text="'wepNumber: ' + ${wepNumber}"/>
<span th:text="'wepIsRanged: ' + ${wepIsRanged}"/>
<span th:text="'wepAttacks: ' + ${wepAttacks}"/>
<span th:text="'wepStrength: ' + ${wepStrength}"/>
<span th:text="'wepArmorPen: ' + ${wepArmorPen}"/>
<span th:text="'wepDamage: ' + ${wepDamage}"/>
<span th:text="'defSize: ' + ${defSize}"/>
<span th:text="'defToughness: ' + ${defToughness}"/>
<span th:text="'defSave: ' + ${defSave}"/>
<span th:text="'defWounds: ' + ${defWounds}"/>
<span th:text="'defFnp: ' + ${defFnp}"/>
<span th:text="'defInvulSave: ' + ${defInvulSave}"/>
</pre>

<p th:text="'Average Damage: ' + ${avgDamage}"/>
<p th:text="'Average Models Killed: ' + ${avgModelsKilled}"/>


  </section></body>
</html>
