<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section})}">
  <head>
    <title>Simulations | 40kBattleSim</title>
  </head>
  <body><section th:remove="tag">

<div class="container">
<ul th:unless="${simulations.empty}">
  <li th:each="entry : ${simulations}" th:with="sim=${entry.unitType}">
    <em th:text="${sim.attacker.name}"/>
    uses
    <em th:text="${sim.weapon.name}"/>
    to attack
    <em th:text="${sim.defender.name}"/>!
    <ul>
      <li th:if="${sim.modifiers.hitPlusOne
                   || sim.modifiers.hitMinusOne
                   || sim.modifiers.rerollHits
                   || sim.modifiers.rerollHitsOne
                   || sim.modifiers.rerollWounds
                   }">
        Attacker Modifiers:
        <ul>
          <li th:if="${sim.modifiers.hitPlusOne}">
            +1 to Hit
          </li>
          <li th:if="${sim.modifiers.hitMinusOne}">
            &minus;1 to Hit
          </li>
          <li th:if="${sim.modifiers.rerollHits}">
            Re-roll Hits
          </li>
          <li th:if="${sim.modifiers.rerollHitsOne}">
            Re-roll Hit Rolls of 1
          </li>
          <li th:if="${sim.modifiers.rerollWounds}">
            Re-roll Wounds
          </li>
        </ul>
      </li>
      <li th:if="${sim.modifiers.explodingHits
                   || sim.modifiers.mortalWoundHits
                   || sim.modifiers.mortalWoundWounds
                   || sim.modifiers.extraAPWound
                   }">
        Weapon Modifiers:
        <ul>
          <li th:if="${sim.modifiers.explodingHits}">
            Exploding Hits
          </li>
          <li th:if="${sim.modifiers.mortalWoundHits}">
            Mortal Wounds on 6's to Hit
          </li>
          <li th:if="${sim.modifiers.mortalWoundWounds}">
            Mortal Wounds on 6's to Wound
          </li>
          <li th:if="${sim.modifiers.extraAPWound}">
            Additional AP on 6’s to wound
          </li>
        </ul>
      </li>
      <li th:if="${sim.modifiers.savePlusOne
                   || sim.modifiers.saveMinusOne
                   || sim.modifiers.invulSave
                   || sim.modifiers.rerollSave
                   || sim.modifiers.rerollSaveOne
                   || sim.modifiers.damageMinusOne
                   }">
        Defender Modifiers:
        <ul>
          <li th:if="${sim.modifiers.savePlusOne}">
            +1 to Save
          </li>
          <li th:if="${sim.modifiers.saveMinusOne}">
            &minus;1 to Save
          </li>
          <li th:if="${sim.modifiers.invulSave}">
            Invulnerable Save
          </li>
          <li th:if="${sim.modifiers.rerollSave}">
            Re-roll Saves
          </li>
          <li th:if="${sim.modifiers.rerollSaveOne}">
            Re-roll Saves of 1
          </li>
          <li th:if="${sim.modifiers.damageMinusOne}">
            &minus;1 to Damage
          </li>
        </ul>
      </li>
      <li>
        Average attack:
        <th:block th:text="${#numbers.formatDecimal(sim.avgDamage, 1, 3)}"/>
        damage,
        <th:block th:text="${sim.avgModelsKilled}"/>
        <th:block th:text="${sim.avgModelsKilled == 1 ? 'model' : 'models'}"/>
        killed
      </li>
      <li>
        Sample attack:
        <th:block th:text="${sim.simDamage}"/> damage,
        <th:block th:text="${sim.simModelsKilled}"/>
        <th:block th:text="${sim.simModelsKilled == 1 ? 'model' : 'models'}"/>
        killed
        (<a href="/simulations">Re-simulate</a>)
      </li>
    </ul>
  </li>
</ul>
<th:block th:if="${simulations.empty}">
  <p>No simulations.</p>
</th:block>

</div>
  </section></body>
</html>
