<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section})}">
  <head>
    <title>Saved Units | 40kBattleSim</title>
  </head>
  <body><section th:remove="tag">


<h2>Attackers</h2>
<ul th:unless="${attackers.empty}">
  <li th:each="unit : ${attackers}">
    <th:block th:text="${unit.name}"/>
  </li>
</ul>
<p th:if="${attackers.empty}">No attackers.</p>

<h2>Weapons</h2>
<ul th:unless="${weapons.empty}">
  <li th:each="unit : ${weapons}">
    <th:block th:text="${unit.name}"/>
  </li>
</ul>
<p th:if="${weapons.empty}">No weapons.</p>

<h2>Defenders</h2>
<ul th:unless="${defenders.empty}">
  <li th:each="unit : ${defenders}">
    <th:block th:text="${unit.name}"/>
  </li>
</ul>
<p th:if="${defenders.empty}">No defenders.</p>


  </section></body>
</html>
