<!DOCTYPE html>
<html th:replace="~{base :: layout(~{::title}, ~{::section})}">
  <head>
    <title>Saved Units | 40kBattleSim</title>
  </head>
  <body><section th:remove="tag">


<h2>Attackers</h2>
<ul th:unless="${attackers.empty}">
  <li th:each="entry : ${attackers}" th:with="unit=${entry.unitType}">
    <th:block th:text="${unit.name}"/>
    <th:block th:if="${entry.userId == 0}">
      (<em>pre-made</em>)
    </th:block>
    <ul>
      <li>Ballistic Skill: <th:block th:text="${unit.balSkill}"/>+</li>
      <li>Weapon Skill: <th:block th:text="${unit.wepSkill}"/>+</li>
    </ul>
  </li>
</ul>
<p th:if="${attackers.empty}">No attackers.</p>

<h2>Weapons</h2>
<ul th:unless="${weapons.empty}">
  <li th:each="entry : ${weapons}" th:with="unit=${entry.unitType}">
    <th:block th:text="${unit.name}"/>
    <th:block th:if="${entry.userId == 0}">
      (<em>pre-made</em>)
    </th:block>
    <ul>
      <li>Number: <th:block th:text="${unit.num}"/></li>
      <li>
        Type:
        <th:block th:if="${unit.isRanged}" th:text="Ranged"/>
        <th:block th:unless="${unit.isRanged}" th:text="Melee"/>
      </li>
      <li>Attacks: <th:block th:text="${unit.attacks}"/></li>
      <li>Strength: <th:block th:text="${unit.strength}"/></li>
      <li>Armor Penetration: <th:block th:text="${unit.armorPen}"/></li>
      <li>Damage: <th:block th:text="${unit.damage}"/></li>
    </ul>
  </li>
</ul>
<p th:if="${weapons.empty}">No weapons.</p>

<h2>Defenders</h2>
<ul th:unless="${defenders.empty}">
  <li th:each="entry : ${defenders}" th:with="unit=${entry.unitType}">
    <th:block th:text="${unit.name}"/>
    <th:block th:if="${entry.userId == 0}">
      (<em>pre-made</em>)
    </th:block>
    <ul>
      <li>Size: <th:block th:text="${unit.size}"/></li>
      <li>Toughness: <th:block th:text="${unit.toughness}"/></li>
      <li>Save: <th:block th:text="${unit.save}"/>+</li>
      <li>Wounds: <th:block th:text="${unit.wounds}"/></li>
      <li>
        Feel No Pain:
        <th:block th:unless="${unit.feelNoPain == 0}">
          <th:block th:text="${unit.feelNoPain}"/>+
        </th:block>
        <th:block th:if="${unit.feelNoPain == 0}">NA</th:block>
      </li>
    </ul>
  </li>
</ul>
<p th:if="${defenders.empty}">No defenders.</p>


  </section></body>
</html>
